spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/product_db
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  application:
    name: ProductService
  server:
    port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

logging:
  level:
    org:
      springframework:
        web: INFO
    com:
      yourcompany:
        productservice: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
