server:
  port: 8084

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: mirabbosegamberdiyev7@gmail.com
    password: Mirabbos2001
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
